spec/types/MessageTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
      xmlns:msgtype="http://www.agid.gov.it/ssu/ws/message/types"
      
      targetNamespace="http://www.agid.gov.it/ssu/ws/message/types"
      elementFormDefault="qualified" 
      attributeFormDefault="qualified"          
      version="1.0"		 
    >
     
    
    <!-- Istanza -->
    
    <xs:complexType name="IstanzaType">
        <xs:sequence>
            <xs:element name="Header" type="msgtype:HeaderIstanzaType"/>
            <xs:element name="Payload" type="msgtype:PayloadIstanzaType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HeaderIstanzaType">
        <xs:sequence>
            <xs:element name="ID" type="msgtype:IDIstanzaType"/>
            <xs:element name="IDProcedimento" type="msgtype:IDProcedimentoType"/>
            <xs:element name="RiferimentoTerritoriale" type="msgtype:CodiceIstatComuneType"/>
            <xs:element name="EnteCompetente" type="msgtype:IPACodeType"/>
            <xs:element name="MessageHash" type="msgtype:HashType">
                <xs:annotation>
                    <xs:documentation>
                        Hash del messaggio utile sia per controlli di integrità che come correlation key per gli ack di risposta
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="PayloadIstanzaType">
        <xs:sequence>
            <xs:element name="Modulo" type="msgtype:FileType"/>
            <xs:element name="AltriAllegati">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Allegato" type="msgtype:FileType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Richiesta Integrazione -->
    
    <xs:complexType name="RichiestaIntegrazioneType">
        <xs:sequence>
            <xs:element name="Header" type="msgtype:HeaderRichiestaIntegrazioneType"/>
            <xs:element name="Payload" type="msgtype:PayloadRichiestaIntegrazioneType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HeaderRichiestaIntegrazioneType">
        <xs:complexContent>
            <xs:extension base="msgtype:HeaderIstanzaType">
                <!-- Specialization Hook  -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <xs:complexType name="PayloadRichiestaIntegrazioneType">
        <xs:sequence>
            <xs:element name="Richiesta" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="QueryExpression" type="msgtype:expression" />
                        <xs:element name="QueryDescription" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>      
        </xs:sequence>
    </xs:complexType>
    
    
    <!-- Integrazione -->
    
    <xs:complexType name="IntegrazioneType">
        <xs:sequence>
            <xs:element name="Header" type="msgtype:HeaderIntegrazioneType"/>
            <xs:element name="Payload" type="msgtype:PayloadIntegrazioneType"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="HeaderIntegrazioneType">
        <xs:complexContent>
            <xs:extension base="msgtype:HeaderIstanzaType">
                <!-- Specialization Hook  -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="PayloadIntegrazioneType">
        <xs:sequence>
            <xs:element name="Integrazione" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RequestExpression" type="msgtype:expression" />
                        <xs:element name="ModuloPart" type="msgtype:FileType"/>
                        <xs:element name="AltriAllegati">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Allegato" type="msgtype:FileType" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>      
        </xs:sequence>
    </xs:complexType>
    
    
    <!-- Conclusione Istanza -->
    
    <xs:complexType name="ConclusioneIstanzaType">
        <xs:sequence>
            <xs:element name="Header" type="msgtype:HeaderConclusioneIstanzaType"/>
            <xs:element name="Payload" type="msgtype:PayloadConclusioneIstanzaType"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="HeaderConclusioneIstanzaType">
        <xs:complexContent>
            <xs:extension base="msgtype:HeaderIstanzaType">
                <!-- Specialization Hook  -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="PayloadConclusioneIstanzaType">
        <xs:sequence>
            <xs:element name="Esito" type="msgtype:EsitoType"/>
            <xs:element name="ProvvedimentoFinale" type="msgtype:FileType"/>
        </xs:sequence> 
    </xs:complexType>


    <!-- Istanza Ente Terzo -->
    <xs:complexType name="IstanzaEnteTerzoType">
        <xs:sequence>
            <xs:element name="Header" type="msgtype:HeaderIstanzaEnteTerzoType"/>
            <xs:element name="Payload" type="msgtype:PayloadIstanzaType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HeaderIstanzaEnteTerzoType">
        <xs:complexContent>
            <xs:extension base="msgtype:HeaderIstanzaType">
                <xs:sequence>
                    <xs:element name="IDEndoProcedimento" type="msgtype:IDProcedimentoType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
       
    </xs:complexType>
    
    <xs:complexType name="PayloadIstanzaEnteTerzoType">
        <xs:complexContent>
            <xs:extension base="msgtype:PayloadIstanzaType">
                <!-- Hook  -->
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>

    <!-- Parere Ente Terzo -->
   
    <xs:complexType name="ParereEnteTerzoType">
        <xs:sequence>
            <xs:element name="Header" type="msgtype:HeaderParereEnteTerzoType"/>
            <xs:element name="Payload" type="msgtype:PayloadParereEnteTerzoType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="HeaderParereEnteTerzoType">
        <xs:complexContent>
            <xs:extension base="msgtype:HeaderIstanzaType">
                <!-- Hook  -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="PayloadParereEnteTerzoType">
        <xs:sequence>
            <xs:element name="Esito" type="msgtype:EsitoParereEnteTerzoType"/>
            <xs:element name="Parere" type="msgtype:FileType"/>
            <xs:element name="AltriAllegati">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Allegato" type="msgtype:FileType" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="EsitoParereEnteTerzoType">
        <xs:complexContent>
            <xs:extension base="msgtype:EsitoType">
                <!-- Hook  -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <!-- Basic Type -->
    
    <xs:complexType name="FileType">
        <xs:choice>
            <xs:element name="Structured" type="msgtype:StructuredFileType"/> 
            <xs:element name="Unstructured" type="msgtype:UnstructuredFileType"/>  
        </xs:choice>
    </xs:complexType>
    
    
    <xs:complexType name="UnstructuredFileType">
        <xs:complexContent>
            <xs:extension base="msgtype:FileModeType">
                <xs:sequence>
                    <xs:element name="IdentityDocument" type="msgtype:FileModeType" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="signature" type="msgtype:UnstructuredSignatureType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    

    <xs:complexType name="StructuredFileType">
        <xs:sequence>
            <xs:element name="XMLFile" type="msgtype:XMLFileType"/>
            <xs:sequence minOccurs="0">
                <xs:element name="XMLRepresetationFile" type="msgtype:FileModeType" />
                <xs:element name="IdentityDocument" type="msgtype:FileModeType" />
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="signature" type="msgtype:StructuredSignatureType" use="required"/>
    </xs:complexType>
     
    <xs:complexType name="XMLFileType">
        <xs:complexContent>
            <xs:extension base="msgtype:FileModeType">
                <xs:attribute name="rootElementType" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
   
    
    
    
    <!-- Type File Generici per la gestione della dicotomia embedded/referenced -->
    
    <xs:complexType name="FileModeType">
        <xs:choice>
            <xs:element name="Embedded" type="msgtype:BinaryFileType"/> 
            <xs:element name="Referenced" type="msgtype:FileReferenceType"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="BinaryFileType">
        <xs:complexContent>
            <xs:extension base="msgtype:FileMetadataType">
                <xs:sequence>
                    <xs:element name="File" type="xs:base64Binary"  xmime:expectedContentTypes="*/*" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="FileReferenceType">
        <xs:complexContent>
            <xs:extension base="msgtype:FileMetadataType">
                <xs:sequence>
                    <xs:element name="AccessToken"  type="xs:string">
                        <xs:annotation>
                            <xs:documentation>
                                Token JWT (signed) per la gestione delle policy di accesso
                            </xs:documentation>
                            <xs:documentation>
                                TODO: Specifiche da definire
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FileHash" type="msgtype:HashType">
                        <xs:annotation>
                            <xs:documentation>
                                Hash del file utile al controllo di integrità della risorsa referenziata
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FileURL"  type="xs:anyURI" >
                        <xs:annotation>
                            <xs:documentation>
                                Hash del file utile al controllo di integrita della risorsa referenziata
                            </xs:documentation>
                            <xs:documentation>
                                TODO: verificare realizazione type XSD per restrizione da URI a URL
                            </xs:documentation>
                        </xs:annotation>
                        
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="FileMetadataType">
        <xs:sequence>
            <xs:element name="Filename"  type="msgtype:FileNameType"/>
            <xs:element name="MimeType"  type="xs:string" />
            <xs:element name="descrizione"  type="xs:string" minOccurs="0"/>
            <xs:element name="dimensione"  type="xs:nonNegativeInteger" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="EsitoType">
        <xs:choice>
            <xs:element name="positivo" type="msgtype:EsitoPositivoType"/>
            <xs:element name="negativo" type="msgtype:EsitoNegativoType"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="EsitoPositivoType">
        <xs:sequence>
            <xs:element name="motivazione" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="value" type="xs:boolean" fixed="true"/>
    </xs:complexType>
    
    <xs:complexType name="EsitoNegativoType">
        <xs:sequence>
            <xs:element name="motivazione" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="value" type="xs:boolean" fixed="false"/>
    </xs:complexType>

	<xs:complexType name="GenericFaultType">
		<xs:sequence>
			<xs:element name="code" type="xs:int" />
			<xs:element name="message" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
            
 
    <xs:complexType name="HashType">
        <xs:choice>
            <xs:element name="SHA256" type="msgtype:SHA256Type" />
            <xs:element name="SHA512" type="msgtype:SHA512Type" />
        </xs:choice>
    </xs:complexType>
      
    <!-- Simple Type -->   
    

    <xs:simpleType name="StructuredSignatureType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XAdES"/>               
            <xs:enumeration value="Hand">
                <xs:annotation>
                    <xs:documentation>
                        Identifica la firma autografa
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="None"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="UnstructuredSignatureType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAdES"/> 
            <xs:enumeration value="CAdES"/>
            <xs:enumeration value="Hand">
                <xs:annotation>
                    <xs:documentation>
                        Identifica la firma autografa
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="None"/> 
        </xs:restriction>
    </xs:simpleType>  
 
    <xs:simpleType name="FileNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9._ -]+"/>
            <!-- 
                TODO: cercare fonte per controllo nomi file (escludere caratteri -> possibili problemi di salvataggio su sistemi win)
                verificare anche limiti di size
            -->
        </xs:restriction>
    </xs:simpleType>  
      
    <xs:simpleType name="SHA256Type">
        <xs:restriction base="xs:hexBinary">
            <xs:length value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SHA512Type">
        <xs:restriction base="xs:hexBinary">
            <xs:length value="64"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="IDIstanzaType">
        <xs:restriction base="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Codice identificativo univoco dell'istanza nell'ambito dell'ente competente per la presentazione
                </xs:documentation>
            </xs:annotation>
        </xs:restriction>
    </xs:simpleType>    
    
    <xs:simpleType name="IDProcedimentoType">
        <xs:restriction base="xs:nonNegativeInteger"/>
    </xs:simpleType>
    
    
    
    
    <xs:simpleType name="CodiceIstatComuneType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    
    
    <xs:simpleType name="IPACodeType">
        <xs:restriction base="xs:string">
               <xs:annotation>
                   <xs:documentation>
                       Codice Amministrazione nell'Indice delle Pubbliche Amministrazioni
                   </xs:documentation>
               </xs:annotation>
        </xs:restriction>
    </xs:simpleType>
    
    
    <xs:simpleType name="expression">
        <xs:annotation>
            <xs:documentation> An XPath 2.0 expression. </xs:documentation>
            <xs:documentation>Referenced into XSLT XSD Spec (version 3.0 and 2.0)
                - https://www.w3.org/TR/2017/REC-xslt-30-20170608/schema-for-xslt30.xsd
                - https://www.w3.org/2007/schema-for-xslt20.xsd
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
