spec/service/et/ente-terzo-ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
   
    xmlns:tns="http://www.agid.gov.it/ssu/ws/ente-terzo/service"
    targetNamespace="http://www.agid.gov.it/ssu/ws/ente-terzo/service"
    >
    
    <wsdl:types>
        <xs:schema 
           targetNamespace="http://www.agid.gov.it/ssu/ws/ente-terzo/service"
           xmlns:msgtype="http://www.agid.gov.it/ssu/ws/message/types">
            
           <xs:import namespace="http://www.agid.gov.it/ssu/ws/message/types" schemaLocation="../../types/MessageTypes.xsd" ></xs:import>
            
           <xs:element name="RequestRiceviIstanzaMessage" type="msgtype:IstanzaEnteTerzoType"/>
           <xs:element name="ResponseRiceviIstanzaMessage" type="msgtype:HeaderIstanzaEnteTerzoType"/>
            
           <xs:element name="RequestRiceviIntegrazioneMessage" type="msgtype:IntegrazioneType"/>
           <xs:element name="ResponseRiceviIntegrazioneMessage" type="msgtype:HeaderIntegrazioneType"/>
            
           <xs:element name="RequestRiceviConclusioneIstanzaMessage" type="msgtype:ConclusioneIstanzaType"/>
           <xs:element name="ResponseRiceviConclusioneIstanzaMessage" type="msgtype:HeaderIstanzaType"/>
           
           <xs:element name="EnteTerzoFaultMessage" type="msgtype:GenericFaultType"/>
            
        </xs:schema>
        
       
        
    </wsdl:types>
    
    <!-- MESSAGES -->
    
    <!-- Istanza -->
    <wsdl:message name="RequestRiceviIstanzaMessage">
        <wsdl:part name="parameters" element="tns:RequestRiceviIstanzaMessage"/>
    </wsdl:message>
    
    <wsdl:message name="ResponseRiceviIstanzaMessage">
        <wsdl:part name="parameters" element="tns:ResponseRiceviIstanzaMessage"/>
    </wsdl:message>
    
    <!-- Integrazione -->
    <wsdl:message name="RequestRiceviIntegrazioneMessage">
        <wsdl:part name="parameters" element="tns:RequestRiceviIntegrazioneMessage"/>
    </wsdl:message>
    
    <wsdl:message name="ResponseRiceviIntegrazioneMessage">
        <wsdl:part name="parameters" element="tns:ResponseRiceviIntegrazioneMessage"/>
    </wsdl:message>
    
    
    <!-- Conclusione -->
    <wsdl:message name="RequestRiceviConclusioneIstanzaMessage">
        <wsdl:part name="parameters" element="tns:RequestRiceviConclusioneIstanzaMessage"/>
    </wsdl:message>
    
    <wsdl:message name="ResponseRiceviConclusioneIstanzaMessage">
        <wsdl:part name="parameters" element="tns:ResponseRiceviConclusioneIstanzaMessage"/>
    </wsdl:message>
   
    <wsdl:message name="EnteTerzoFaultMessage">
	    <wsdl:part name="fault" element="tns:EnteTerzoFaultMessage" /> 
	</wsdl:message>
    
    
    <!-- PORT TYPE -->
    <wsdl:portType name="EnteTerzoServicePort">
        
        <wsdl:operation name="RiceviIstanza">
            <wsdl:input message="tns:RequestRiceviIstanzaMessage" name="RequestRiceviIstanza"/>
            <wsdl:output message="tns:ResponseRiceviIstanzaMessage" name="ResponseRiceviIstanza"/>
            <wsdl:fault message="tns:EnteTerzoFaultMessage" name="EnteTerzoFault"/>
        </wsdl:operation>
        
        <wsdl:operation name="RiceviIntegrazione">
            <wsdl:input message="tns:RequestRiceviIntegrazioneMessage" name="RequestRiceviIntegrazione"/>
            <wsdl:output message="tns:ResponseRiceviIstanzaMessage" name="ResponseRiceviIntegrazione"/>
            <wsdl:fault message="tns:EnteTerzoFaultMessage" name="EnteTerzoFault"/>
        </wsdl:operation>
        
        
        <wsdl:operation name="RiceviConclusioneIstanza">
            <wsdl:input message="tns:RequestRiceviConclusioneIstanzaMessage" name="RequestRiceviConclusioneIstanza"/>
            <wsdl:output message="tns:ResponseRiceviConclusioneIstanzaMessage" name="ResponseRiceviConclusioneIstanza"/>
            <wsdl:fault message="tns:EnteTerzoFaultMessage" name="EnteTerzoFault"/>
        </wsdl:operation>
        
    </wsdl:portType>
    
    
    
    <!-- PORT BINDING -->
    
    <wsdl:binding name="EnteTerzoServiceBinding" type="tns:EnteTerzoServicePort">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="RiceviIstanza">
            <wsoap12:operation soapAction="http://www.agid.gov.it/ssu/ws/ente-terzo/service/RiceviIstanza" style="document"/>
            <wsdl:input name="RequestRiceviIstanza">              
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ResponseRiceviIstanza">              
                <wsoap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EnteTerzoFault">
                <wsoap12:body use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="RiceviIntegrazione">
            <wsoap12:operation soapAction="http://www.agid.gov.it/ssu/ws/ente-terzo/service/RiceviIntegrazione" style="document"/>
            <wsdl:input name="RequestRiceviIntegrazione">              
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ResponseRiceviIntegrazione">              
                <wsoap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EnteTerzoFault">
                <wsoap12:body use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="RiceviConclusioneIstanza">
            <wsoap12:operation soapAction="http://www.agid.gov.it/ssu/ws/ente-terzo/service/RiceviConclusioneIstanza" style="document"/>
            <wsdl:input name="RequestRiceviConclusioneIstanza">              
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ResponseRiceviConclusioneIstanza">              
                <wsoap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EnteTerzoFault">
                <wsoap12:body use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    
    <!-- SERVICE  -->  
    
    <wsdl:service name="EnteTerzoService">
        <wsdl:port binding="tns:EnteTerzoServiceBinding" name="EnteTerzoService">
            <soap:address location="http://localhost:8080/ssu-test/ente-terzo/ws"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>